
.button {

  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  padding:18px 20px;
  margin: 10px 0;
  text-align: center;
  border: 0;
  transition: all .3s ease;

  text-transform: uppercase;
  width: 100%;


  &:hover { background: var(--color-secondary) }


  &.primary{ background: var(--color-primary); &:hover{ background: var(--color-secondary);} }

  &.secondary{ background: var(--color-secondary); &:hover{ background: var(--color-primary);}}

  &.default{ background: none;  color: var(--color-secondary); &:hover { color: var(--color-primary) }}


  span{

    font-weight: 100;

    margin-left: 20px;

  }


}


.cta-wrapper{

  position: fixed;

  bottom: 0;

  left: 0;

  z-index: 10;

  padding: 0 30px 0px 30px;

  width: 100%;

  max-width: 500px;

  background: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.9));


  .button{

    box-shadow: 0 2px 7px rgba(0,0,0,0.4);

  }

}



.blue-link{

  color: #40a9ff;

}